#projects {
  margin-left: 8vw;
  margin-right: 8vw;
}

.projects-section {
  margin: auto;
}

@media (max-width: 550px) {
  #projects {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 10px;
  }
}


.gallery-projects {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.sets-projects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.align-r {
  order: 2;
}

.sets-projects img {
  margin: 0px;
  margin: auto;
  width: calc(100% - 20px);
  border-radius: 15px;
  transition: scale 0.8s ease;
  cursor: pointer;
  
  view-timeline-name: --revealing-image;
  animation-name: showImg;
  animation-fill-mode: both;
  animation-timeline: --revealing-image;
  animation-range: entry 25% cover 60%;
}


@keyframes showImg{
  from{
    opacity: 0;
    scale: 25%;
  }
  to{
    opacity: 1;
    scale: 100%;
  }
}


.sets-projects a {
  display: flex;
  transition: scale 0.8s ease;
}

.sets-projects .a-projects:hover {
  scale: 1.1;
  
}

.sets-projects img:hover {
  scale: 110%;
  border: 1px solid #1d5050;
}

.sets-projects .details {
  margin: 30px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 10px #3c4a4a7c;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 20px;
  
}




.details h2 {
  margin: 30px;
  font-size: 40px;
  font-weight: 300;
  font-style: italic;
  color: rgb(215 141 21);
}

.details p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 200;
  color: antiquewhite;
}

.details a {
  display: block;
  margin-bottom: 4px;
  width: 100%;
  font-size: 15px;
  font-weight: 200;
  color: rgba(0, 255, 208, 0.767);
  text-decoration: none;
}

.details span {  
  font-size: 15px;
  font-weight: 200;
  color: rgba(255, 123, 0, 0.767);
}

.skill-project {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 10px;
}

.skill-project .tag {
  height: 25px;
  display: flex;
}

.tag svg {
  width: 25px;
  height: 25px;
}

.tag path {
  fill: #1d5050;
}

.tag p {
  margin: 0;
  padding: 5px;
  font-size: 15px;
  color: antiquewhite;
  font-weight: 200;
  line-height: 1.2;
    background-color: rgb(44 56 56);
    box-shadow: 1px 1px 8px #1010106e;
}

@media (max-width: 800px) {
  .sets-projects {
    display: flex;
    flex-wrap: wrap;
  }

  .align-r {
    order: unset;
  }

  .skill-project {
    justify-content: center;
    margin: auto;
    padding: 0;
    margin-top: 20px;
    width: 100%;
  }

  .details h2 {
    margin: 30px 0px 10px 0px;
  }

  .sets-projects .details {
    margin: 50px 30px 20px 30px;
  }

}



@media (max-width: 500px) {
  .details h2 {
    font-size: 8vw;
    text-align: center;
  }

  .sets-projects .details {
    margin: 30px 0px;
    text-align: center;

  }

}