* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}




html {
    scroll-behavior: smooth;
  }
  

body {
    font-family: 'Josefin Sans', sans-serif;
}




#section-profiles {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;  
    width: 100vw;
    background-image: url("../recurses/img/profiles/bg.jpg");
    background-size: cover;
    z-index: 20;
}

.profiles {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: row;
    background-color: rgba(48, 48, 48, 0.6);

}

/*-------------------------------------------------------*/
/*              infomation-container                     */
/*-------------------------------------------------------*/

.infomation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}


.edwin-name {
    font-size: 60px;
    font-weight: bold;
    margin: 30px 10px 10px;
    color: antiquewhite;
    text-align: center;
    text-shadow: 2px 2px 0px #848484d9,4px 4px 1px #626262e7, 6px 6px 2px #000000d9
}




.edwin-text {
    font-size: 25px;
    font-weight: 300;
    margin: 0 20px 20px 20px;
    color: antiquewhite;
    text-align: center;
}

.edwin-icon {
    margin: 0 20px 20px 20px;
    display: flex;
    gap: 30px;
}
.edwin-text a {
text-decoration: none;
}

.icon {
    width: 70px;
    height: 70px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.icon .path-color-dev{
    transition: fill 0.3s ease-in-out;
    fill: #639687c0; /* Cambiar el color al hacer hover */
}

.icon .path-color-ing{
    transition: fill 0.3s ease-in-out;
    fill: #639687c0; /* Cambiar el color al hacer hover */
}
.icon:hover .path-color-ing{
    fill: #a5acb9; /* Cambiar el color al hacer hover */
}

.icon:hover .path-color-dev{
    fill: #a5acb9; /* Cambiar el color al hacer hover */
}

.icon:hover {
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.2)
}


/*::::::::::::::::::::   profession   ::::::::::::::::::::::::::::*/

.profession-container {
    height: 32px;
    overflow: hidden;

}

.ul-container {
    list-style: none;
    padding-left: 0px;
    margin: 0;
    transform: translateY(0);
    transition: transform 0.9s ease, opacity 0.5s ease;
    opacity: 0;
}


.edwin-ing,
.edwin-dev {
    font-size: 26px;
    padding: 4px;
    text-align: center;
}

.edwin-ing {
    color: #639687c0;
}

.edwin-dev {
    color: #a1c7bbc0;
}

/*-------------------------------------------------------*/
/*              profiles-container                     */
/*-------------------------------------------------------*/

.profiles-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 4em;
    gap: 2em;
    max-width: 700px;
}





.image-container {

    border-radius: 20px;
    transition: width 0.9s ease;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2)

}

.image-container a {
  text-decoration: none;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: height 1s ease;
}


.image-container p{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    background-color: #639687c0;
    color: antiquewhite;

}





.image-container:hover {
    width: 100%;
}
.image-container:hover p{
    height: 10%;
}

.image-container:hover img{
    height: 90%;
}



.image-container-dev {
    width: 30%;
    height: 100%;
}

.image-container-ing {
    width: 30%;
    height: 100%;

}






@media (max-width: 1000px) {
    .profiles-container {
        margin: 4em 1em;
    }


    .infomation-container {
        max-width: 250px;
    }

    .edwin-name {
        font-size: 36px;
    }

    .edwin-text {
        font-size: 20px;
    }

    .edwin-ing,
    .edwin-dev {
        font-size: 25px;
    }

    .profession-container {
        height: 60px;    
    }


}



@media (max-height: 500px) {
    .image-container img {
        width: 100%;
        object-fit: cover;        
        object-position: center 20%
    }
    .image-container p {
        font-size: 15px;
        margin: 4px 0 0;
    }  
}



@media (max-width: 500px) {

    #section-profiles {
        min-height: 100vh;  
        height: auto;
        width: 100%;   
    }    

    .profiles {
        flex-direction: column;  
        height: 90%;
        width: 80%;  
    }    

    .infomation-container {
        max-width: 500px;
        flex: 1;    }
    
    
    .profiles-container {
        flex: 2;
        margin: 0;
        flex-direction: column;
        gap: 10px;
        margin: 10px;
    }
    

    .image-container{
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
    }

    .image-container img {
        width: 100%;
        height: 200px;
        object-fit: cover;        
        object-position: center 20%
    }
    
    .image-container p {
        font-size: 15px;
        margin: 4px 0 0;
    }

    .profession-container {
        height: 0;    
    }

    .edwin-ing,
    .edwin-dev {
        list-style: none;
        padding-left: 0px;
        margin: 0;
    }       

    .ul-container {
        transform: translateY(0);
        transition: transform 0.9s ease, opacity 0.5s ease;
        opacity: 0;
    }
}

