
#feedback {
  margin-left: 8vw;
  margin-right: 8vw;
}



.data-section {
  display: flex;
  flex-wrap: wrap;
}



.container-feedback {
  width: 50%;
  flex: 1;

}

.container-feedback p {
  color: #ccc;
  font-size: 20px;
  font-weight: 300;
  margin: 20PX;
}

.container-feedback p span {
  font-style: italic;
  color: #f0ceb3;
  font-size: 20px;
  font-weight: 400;
}

.feedback {
  overflow: hidden;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  max-height: 1000px;
  /* Ajusta este valor según sea necesario */
  transition: max-height 1.0s ease;
}

.container-feedback .input-a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: antiquewhite;
  border-radius: 5PX;
  width: 100%;
  height: 100%;
  padding: 10px;
  resize: vertical;
  border: none;
  transition: width 1.0s ease, opacity 1.9s ease;
  background: transparent;
  border: 1px solid #999;

}



.container-feedback .input-a:focus {
  outline: none;
}




/*====================================================*/
/*===========            btn             =============*/
/*====================================================*/
.container-inputs {
  display: flex;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  transition: opacity 1.0s ease, transform 1.0s ease;
}

.container-inputs.hidden {
  opacity: 0;
  height: 0;
  padding: 0;
  transform: translateX(100px);
}

.container-inputs .input-l {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  height: 40px;
  width: 200px;
  font-size: 20px;
  border: none;
  border-right: 1px solid #ccc;
  border-radius: 8px 0 0 8px;
  padding: 0px 10px;
  transition: width 1.5s ease, padding 1.5s ease;
  background: #ffffff;
}


.container-inputs input:focus {
  outline: none;
}

#btn-send{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.button-bg {
  background-image: linear-gradient(111deg, rgba(222, 7, 82, 0.637) 0%, rgba(113, 0, 105, 0.685) 100%);
  border-radius: 8px;
  display: flex;
  height: 40px;
}

.button-bg:hover {
  background-image: linear-gradient(111deg, rgb(222 7 81) 0%, rgb(113 0 105) 100%);
}

.button-bg #icon-send {
  clip-path: polygon(100% 45%, 0% 0%, 0% 40%, 90% 50%, 0% 60%, 0% 100%, 100% 55%);
  width: 20px;
  height: 20px;
  margin: 10px;
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}


.container-inputs button {
  font-size: 20px;
  background-color: #007bff00;
  border: none;
  color: #fff;
  border-radius: 0 5px 5px 0;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}


#feedback-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.feedback-card {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #13100a9f;
  color: white;
}

.feedback-card-description {
  padding: 10px;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 0px 0px 6px rgba(13, 13, 13, 0.76);
  background-color: #ffffff00;
  width: 100%;
  text-align: center;
  color: antiquewhite;
  font-weight: 200;
}




.efecto-ok {


  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg {
  height: 100px;
  background-color: aliceblue;
  transition: all 1.5s ease;
  margin: 5px;

}

.svg-e {
  clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 10%, 80% 25%, 100% 40%, 100% 50%, 100% 50%, 100% 60%, 80% 75%, 100% 90%);
  scroll-behavior: smooth;
  width: 80px;

}

.svg-j {
  clip-path: polygon(100% 100%, 00% 100%, 0% 50%, 10% 50%, 10% 0%, 60% 00%, 100% 0);
  width: 90px;
}

.svg-a {
  clip-path: polygon(100% 100%, 90% 0%, 10% 0%, 0% 100%, 40% 100%, 50% 90%, 60% 100%);
  width: 100px;

}

.efecto-ok:hover .svg-e {
  clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%, 90% 30%, 20% 25%, 20% 40%, 35% 40%, 30% 60%, 20% 60%, 20% 75%, 90% 70%);
}

.efecto-ok:hover .svg-j {
  clip-path: polygon(100% 100%, 10% 100%, 0% 70%, 40% 80%, 80% 80%, 60% 10%, 100% 0);
}

.efecto-ok:hover .svg-a {
  clip-path: polygon(100% 100%, 60% 0%, 40% 0%, 0% 100%, 40% 90%, 50% 50%, 60% 90%);
}


.feedback-transition {
  height: 50px;
}



@media (max-width: 500px) {



  #feedback {
    margin-left: 5%;
    margin-right: 5%;
  }

  .container-feedback p {
    text-align: center;
  }



  .data-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }



  .container-feedback {
    width: 100%;
  }

  .svg-e {
    clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%, 90% 30%, 20% 25%, 20% 40%, 35% 40%, 30% 60%, 20% 60%, 20% 75%, 90% 70%);
  }

  .svg-j {
    clip-path: polygon(100% 100%, 10% 100%, 0% 70%, 40% 80%, 80% 80%, 60% 10%, 100% 0);
  }

  .svg-a {
    clip-path: polygon(100% 100%, 60% 0%, 40% 0%, 0% 100%, 40% 90%, 50% 50%, 60% 90%);
  }


  .container-inputs input {
    width: 100%;
  }
}



.container-send {
  display: flex;

}

.container-send input {
  height: 40px;
  padding: 0;
  margin: 0;
  
}


.alert-container {
  position: fixed;
  bottom: 50%;
  left: 0%;
  transform: translateX(-0%);
  transform: translateY(-0%);
  width: 0px;
  background-color: #957822;
  color: white;
  padding: 20px;
  border-radius: 0 5px 5px 0;
  text-align: end;
  display: none;
  transition: width 1s ease;
  overflow: hidden;
}

.alert {
  font-size: 15px;
  white-space: nowrap;
  text-align: end;
}