body {
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

#section-profiles {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url("/recurses/img/profiles/bg.jpg");
    background-size: cover;
}

.profiles {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: row;
    background-color: rgba(48, 48, 48, 0.6);

}

/*-------------------------------------------------------*/
/*              infomation-container                     */
/*-------------------------------------------------------*/

.infomation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}


.edwin-name {
    font-size: 46px;
    font-weight: bold;
    margin: 0px;
    color: antiquewhite;
    text-align: center;
}

.edwin-text {
    font-size: 25px;
    font-weight: 300;
    margin: 20px;
    color: antiquewhite;
    text-align: center;
}




/*::::::::::::::::::::   profession   ::::::::::::::::::::::::::::*/

.profession-container {
    height: 32px;
    overflow: hidden;

}

.ul-container {
    list-style: none;
    padding-left: 0px;
    margin: 0;
    transform: translateY(0);
    transition: transform 0.9s ease, opacity 0.5s ease;
    opacity: 0;
}


.edwin-ing,
.edwin-dev {
    font-size: 26px;
    padding: 4px;
    text-align: center;
}

.edwin-ing {
    color: rgb(170, 201, 166);
}

.edwin-dev {
    color: rgb(165, 133, 165);
}

/*-------------------------------------------------------*/
/*              profiles-container                     */
/*-------------------------------------------------------*/

.profiles-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 4em;
    gap: 2em;
    max-width: 700px;
}





.image-container {

    border-radius: 20px;
    transition: width 0.9s ease;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2)
        /*
    display: flex;
    justify-content: space-between;
    height: calc(100vh);
    width: 50%;
    cursor: pointer;
    position: relative;
    */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-container:hover {
    width: 100%;
}

.image-container-dev {
    width: 30%;
    height: 100%;
    margin-top: 10px;
}

.image-container-ing {
    width: 30%;
    height: 100%;
    margin-bottom: 10px;

}






@media (max-width: 1000px) {
    .profiles-container {
        margin: 4em 1em;
    }

    .profiles-container {
        /*
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin: 4em;
        gap: 2em;
        max-width: 700px;
        */
    }

    .infomation-container {
        /*
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        background-color: aquamarine;
        */
        max-width: 200px;
    }

    .edwin-name {
        font-size: 36px;
    }

    .edwin-text {
        font-size: 20px;
    }

    .edwin-ing,
    .edwin-dev {
        font-size: 25px;



    }

    .profession-container {
        height: 60px;    
    }


}



@media (max-width: 500px) {

    #section-profiles {
        height: 100vh;  
        width: 100%;   
    }    

    .profiles {
        flex-direction: column;  
        height: 90%;
        width: 80%;  
    }    
    .infomation-container {
        max-width: 500px;
        flex: 1;    }
    
    
    .profiles-container {
        flex: 2;
        margin: 0;
        flex-direction: column;
        gap: 10px;
        margin: 10px;
    }
    



    .image-container-dev {  
        background-color: aquamarine;
        
    }    
    .image-container-ing {        
        background-color: blueviolet;
    }
    
    .image-container{
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.349);
    }



    .image-container img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        
        object-position: center 25%
    }

    .image-container p {
        margin: 10px;
        width: 100%;
        height: 20%;
        text-align: center;
        color: antiquewhite;
        
    }






    .profession-container {
        height: 0;    
    }
    .edwin-ing,
    .edwin-dev {
        list-style: none;
        padding-left: 0px;
        margin: 0;
    }       
    .ul-container {
        transform: translateY(0);
        transition: transform 0.9s ease, opacity 0.5s ease;
        opacity: 0;
    }






}

