#projects {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 100px;
}





.projects-section {
  margin: auto;
  max-width: 1300px;
}



/* Estilo para el contenedor de la galería */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  justify-content: center;
  padding: 30px 50px;
}

/* Estilo para cada imagen en la galería */
.image-container {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 3px 4px 20px rgb(122, 121, 110, 0.5);
  flex-basis: calc(25%);
  min-width: 300px;
}


/* Estilo para la imagen */
.gallery-image {
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease;
  object-fit: cover;
}


/* Estilo para el detalle de la imagen (inicialmente oculto) */
.image-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateY(100%);
  transition: transform 0.4s ease;
}
.image-details h2{
  font-size: 19px;
  
}
.image-details p{
  font-size: 16px;

}





.container-info{
  display: flex;
  justify-content: space-between;
}



.skill {
  display: flex;
  gap: 3PX;
}
.skill h5{
 margin: 0;
 padding: 5px 5px 0 5PX;
 border: 1px solid rgb(66, 66, 66);
 background-color: #e7194b;
 color: antiquewhite;
 border-radius: 3px;
 flex: 1; 
}



.links a{
  text-decoration: none;
}

.links .icon{
  width: 20px;
  height: 20px;
}








.image-container:hover .gallery-image {
  filter: brightness(0.3);
  /* Oscurecer la imagen al 50% */
  transition: filter 0.4s ease;
}

.image-container:hover .image-details {
  transform: translateY(0);
}


/* Estilo para la imagen expandida */
.image-container.expanded {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0px;
  z-index: 9999;
  cursor: zoom-out;
  width: 100%;
  height: 100%;
  transition: width 0.5s ease;
  transition: height 0.5s ease;
}






/* Estilo para el botón de cerrar */
.image-container.expanded .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  font-size: 24px;
}

/* Estilo para el título y descripción de la imagen expandida */
.image-container.expanded .image-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: white;
  transform: translateY(0);
}

.image-container.expanded h2 {
  margin-top: 0;
}

.image-container.expanded p {
  margin-bottom: 30px;

}



@media (max-width: 550px) {

  #projects {
    margin-left: 5%;
    margin-right: 5%;
  }
  .gallery {
    padding: 30px 0px;
  }
  .image-container {
    width: 100%;
    min-width: 100%;
    height: 350px;
  }
  .image-container {
    height: 375px;
    display: flex;
}
  .image-container .image-details {
    transform: translateY(0);
  }
  
  .image-container .gallery-image {
    filter: brightness(0.9);
    transition: filter 0.4s ease;
    height: 200px;
  }

}


